@charset "UTF-8";
.features__icon, .lessons__tumb, .team__link, .client__link, .form__btn, .modal__res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  margin-left: auto;
  margin-right: auto;
}

.form__btn, .modal__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.15));
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus, .link:hover {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .primary::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.mob__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .mob__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mob__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  background-color: inherit;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .mob__btn {
    display: none;
  }
}

.mob__btn .icon__close {
  display: none;
}

.mob__btn.is-open .icon__close {
  display: block;
}

.mob__btn.is-open .icon__menu {
  display: none;
}

.header__studio {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .header__studio {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__nav {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .header__nav {
    font-size: 40px;
  }
}

.header__list {
  list-style-type: none;
}

.header__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.header__item {
  position: relative;
}

.header__addr {
  color: #757575;
  text-decoration: none;
  fill: #757575;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 500;
}

body.menu__cotainer.is-open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .menu__cotainer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 48px 40px;
    width: 100%;
    background-color: #ffffff;
  }
  .menu__cotainer.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow-y: scroll;
  }
  .menu__cotainer .header__list {
    display: block;
  }
  .menu__cotainer .header__item:not(:first-child) {
    margin-top: 32px;
  }
  .menu__cotainer .header__tel {
    margin-bottom: 32px;
    font-size: 7vw;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__cotainer .header__tel {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .menu__cotainer .header__mail {
    font-size: 5vw;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__cotainer .header__mail {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .menu__cotainer .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) and (min-height: 796px) {
  .menu__cotainer .header__menu {
    margin-top: 300px;
  }
}

@media screen and (max-width: 767px) {
  .menu__cotainer .header__icon {
    display: none;
  }
  .menu__cotainer .net {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .menu__cotainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__cotainer .net {
    display: none;
  }
  .menu__cotainer .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0;
    margin-left: 88px;
    font-size: 14px;
    line-height: 1.14;
  }
  .menu__cotainer .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__cotainer .header__item:not(:first-child) {
    margin-left: 50px;
  }
  .menu__cotainer .header__tel,
  .menu__cotainer .header__mail,
  .menu__cotainer .menu__addr,
  .menu__cotainer .header__addr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__cotainer .header__mail,
  .menu__cotainer .header__tel {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .menu__cotainer .header__mail {
    margin-bottom: 10px;
    padding-top: 21px;
  }
  .menu__cotainer .header__tel {
    padding-bottom: 21px;
  }
  .menu__cotainer .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
  }
  .menu__cotainer .menu__item {
    fill: #757575;
  }
  .menu__cotainer .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu__cotainer .header__icon {
    margin-right: 8px;
  }
  .menu__cotainer .icon__mail {
    width: 14px;
    height: 10px;
  }
  .menu__cotainer .icon__tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__cotainer {
    width: 100%;
  }
  .menu__cotainer .header__nav {
    margin: 0 0 0 93px;
  }
  .menu__cotainer .header__tel {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: 30px;
  }
  .menu__cotainer .header__mail {
    padding-top: 0;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 0;
  }
  .menu__cotainer .header__tel {
    padding-bottom: 0;
  }
  .menu__cotainer .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__cotainer .header__icon {
    margin-right: 10px;
  }
  .menu__cotainer .icon__mail {
    width: 16px;
    height: 12px;
  }
  .menu__cotainer .icon__tel {
    width: 10px;
    height: 16px;
  }
}

.icon-menu {
  fill: #2196f3;
}

.primary,
.header__web {
  color: #2196f3;
}

.net {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.net__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.hero__heading {
  margin: 0;
  font-weight: 900;
  font-size: 5.5vw;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero__heading {
    font-size: 26px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/mob-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/mob-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/mob-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/mob-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/tabl-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/tabl-img.jpg);
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/tabl-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/tabl-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/Img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/Img.jpg);
  }
  .hero__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//../images/hw/hero/Img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../images/hw/hero/Img@2x.jpg);
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background: #2196f3;
}

.features__list {
  display: block;
  text-align: center;
}

.features__item:not(:first-child) {
  margin-top: 30px;
}

.features__icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.icon {
  width: 70px;
  height: 70px;
}

.features__heiding {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__paragraph {
  margin-top: 10px;
  text-align: start;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .lessons {
    display: none;
  }
}

.position {
  position: relative;
}

.position:not(:first-child) {
  margin-left: 30px;
}

.lessons__tumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.lessons__heiding {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio,
.features,
.client,
.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .portfolio,
  .features,
  .client,
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio,
  .features,
  .client,
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.lessons {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .lessons {
    padding-bottom: 94px;
  }
}

.text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .text {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__data {
  padding: 30px 32px;
  font-size: 16px;
  line-height: 1.19;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team__pos {
  margin-bottom: 16px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:focus, .team__link:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.team__icon:not(:first-child) {
  margin-left: 10px;
}

.team__item:not(:first-child) {
  margin-top: 30px;
}

.team__assemb {
  display: block;
}

@media screen and (min-width: 768px) {
  .team__assemb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__assemb .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__assemb .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 30px * 6) / 6);
        flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.client__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:focus, .client__link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__block {
  width: 100%;
  text-align: center;
}

.footer__block:not(:first-child) {
  margin-top: 60px;
}

.footer__color {
  text-decoration: none;
  color: #ffffff;
}

.footer__address {
  margin-top: 30px;
  /* padding-bottom: 60px; */
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__link {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__heiding {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
  list-style-type: none;
}

.footer__icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__btn {
  margin: 20px 0 0 0;
}

.form__field {
  width: 100%;
}

.form__text {
  font-size: 16px;
  line-height: 1.25;
  /* display: flex; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}

.form__btn {
  fill: solid #ffffff;
}

.form__card {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .form__input {
    width: 400px;
  }
  .footer__block {
    width: 270px;
  }
  .footer__block:not(:first-child) {
    margin-top: 0px;
  }
  .footer__block:last-child {
    width: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__block {
    text-align: start;
  }
  .footer__block:first-child {
    margin-bottom: 0;
  }
  .footer__block:not(:first-child) {
    margin-left: 30px;
    margin-top: 0;
  }
  .footer__address {
    margin-top: 20px;
  }
  .footer__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__link {
    margin-top: 10px;
  }
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__btn {
    margin: 0 0 0 12px;
  }
  .form__field {
    width: auto;
  }
  .form__input {
    width: 358px;
  }
}

/* Portfolio */
/* Main */
.portfolio__menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .portfolio__menu {
    margin-bottom: 40px;
  }
}

.portfolio__point:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-primary,
.portfolio__btn:focus,
.portfolio__btn:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style-type: none;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 30px * 1) / 1);
      flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--trans-var);
  transition: -webkit-box-shadow var(--trans-var);
  transition: box-shadow var(--trans-var);
  transition: box-shadow var(--trans-var), -webkit-box-shadow var(--trans-var);
}

.portfolio__link:focus, .portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__paragraph,
.portfolio__link:focus .portfolio__paragraph {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.portfolio__card {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__pos {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.portfolio__animation {
  position: relative;
  overflow: hidden;
}

.portfolio__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) {
  .portfolio__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
        flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__menu {
    margin-bottom: 50px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
        flex-basis: calc((100% - 30px * 3) / 3);
  }
}

/* Модальное окно */
.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  z-index: 5;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 93px auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 90%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-width: auto;
  }
}

.modal__heiding {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.modal__res {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__res:focus, .modal__res:hover {
  fill: #2196f3;
}

.modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal__point {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  padding-left: 42px;
  min-width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
}

.modal__text::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal__agree {
  margin-bottom: 30px;
}

.modal__lab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 8px;
  min-width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal__checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover {
  background-color: #188ce8;
}

.modal__contract {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .modal {
    margin: 205px auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    margin: 220px auto;
  }
  .modal__heiding {
    line-height: 1.15;
  }
  .modal__lab {
    font-size: 14px;
    line-height: 1.7;
  }
  .modal__agree {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */